<html>
    <head>
        <title>weather app</title>

        <link rel = "stylesheet" href="./css/style.css">
        <link rel = "icon" href="./img/Weather-No-Background.png">
        
    </head>
    <body>

        {{>handle}}
        <h1>{{name}}</h1>

        <form name="myform">
            Enter latitude and Longitude:  <input ><br><br>
            
            <button>Search</button>
        </form>

        <p id ="m1"></p>
        <p id ="m2"></p>

        <img src="./img/Sagar-designstyle-boots-m.png">


        <script src="./js/app.js"></script>
    </body>
</html>